body {
    display: flex;
    flex-flow: column;
    background-color: hwb(340 56% 4%);
}
.styled-table  {
    border-collapse: separate;
    margin: 25px 0;
    font-size: 30px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
    align-self: center;

} 

.legend {
    border-collapse: separate;
    margin: 25px 0;
    font-size: 30px;
    font-family: sans-serif;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    flex: auto;
    align-self: center;
    
}

.styled-table thead tr {
    background-color:  #037F80;
    color: #FF1D47;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 120px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #037F80;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009345;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009345;
}


h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                 -8px 8px #f48fb1,
                 -12px 12px #7e57c2,
                 -16px 16px #2196f3,
                 -20px 20px #26c6da,
                 -24px 24px #43a047,
                 -28px 28px #eeff41,
                 -32px 32px #f9a825,
                 -36px 36px #ff5722;
  }
  

.Aaron {
    color:#08B07C;
   
}

.Kevin {
    color: #BE7;
   
}

.August {
    color:  #F9D8CE;
}

.Trippy {
    color:  #CC8899;
   
}

.Alyssa {
    color: #F5C71B
    
}

.Jeremy {
    color: #68D1C5;
}
